#**Data Types and Structures Assignment(Theory Questions & Answers)**


1.**What are data structures, and why are they important?**

 Ans: Data structures are specialized formats for organizing, processing, storing, and retrieving data, enabling efficient management and manipulation of information.

2.**Explain the difference between mutable and immutable data types with examples.**

Ans:  Mutable data types allow modification after creation, while immutable data types do not, meaning any change results in a new object being created.

Mutable example:

        my_list = [1, 2, 3]
        my_list.append(4)  # Modifies the list
        print(my_list)  # Output: [1, 2, 3, 4]
Immutable example:

        my_string = "Hello"
        # my_string[0] = "W"  # This will raise an error
        new_string = my_string + " World"  # Creates a new string
        print(new_string)  # Output: Hello World

3.**What are the main differences between lists and tuples in Python?**

Ans: The main difference between lists and tuples in Python lies in their mutability: lists are mutable (changeable), while tuples are immutable (unchangeable).

4.**Describe how dictionaries store data.**

Ans: Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.They are implemented using a hush table , which provides average constant time complexity.

5.**Why might you use a set instead of a list in Python?**

Ans: Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.**What is a string in Python, and how is it different from a list?**

Ans: In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered collection of items (which can be of any data type) enclosed in square brackets.

7.**How do tuples ensure data integrity in Python?**

Ans: Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.


8.**What is a hash table, and how does it relate to dictionaries in Python?**

Ans: A hash table is a data structure that stores key-value pairs, using a hash function to map keys to specific locations (buckets) for fast retrieval, and Python dictionaries are implemented using hash tables.

9.**Can lists contain different data types in Python?**

Ans: Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10.**Explain why strings are immutable in Python.**

Ans: Stiring are immutable in python for several important reasons related to performance, security, and simplicity of the language.

11.**What advantages do dictionaries offer over lists for certain tasks.**

Ans: Dictionaries excel over lists for tasks involving quick data retrieval and mapping relationships, due to their ability to access values by keys rather than indices, offering faster lookup times.

12.**Describe a scenario where using a tuple would be preferable over a list.**

Ans: Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13.**How do sets handle duplicate values in Python.**

Ans: Here are some of the features of sets in Python: Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered.

14.**How does the “in” keyword work differently for lists and dictionaries?**

Ans: As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15.**Can you modify the elements of a tuple? Explain why or why not.**

Ans: No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation, unlike lists which are mutable.

16.**What is a nested dictionary, and give an example of its use case?**

Ans: A nested dictionary in Python is a dictionary where the values are themselves dictionaries, allowing for a hierarchical data structure. A common use case is representing structured data, like an organizational chart or JSON data, where you can store data in multiple levels.

Example:
       # Nested dictionary representing employee records
       employee_data = {"department1": {"employee1": {"name": "Alice", "id": 101, "role": "Manager"},
        "employee2": {"name": "Bob", "id": 102, "role": "Analyst"}},
    "department2": {"employee3": {"name": "Charlie", "id": 201, "role": "Developer"},"employee4": {"name": "David", "id": 202, "role": "Tester"}}}

     # Accessing data within the nested dictionary
     print(employee_data["department1"]["employee1"]["name"]) # Output: Alice
     print(employee_data["department2"]["employee3"]["role"]) # Output: Developer

17.**Describe the time complexity of accessing elements in a dictionary.**

Ans: Accessing elements in a dictionary (or hash map) typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. However, in the worst-case scenario (e.g., many collisions), it can degrade to O(n).

18.**In what situations are lists preferred over dictionaries?**

Ans: For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19.**Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans: Dictionaries are considered unordered because they store data as key-value pairs, and the order in which these pairs are inserted doesn't affect how they are stored or retrieved; accessing data relies on keys, not position.

20.**Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans: In terms of data retrieval, lists use numerical indices (starting from 0) for accessing elements, while dictionaries use keys to access associated values, offering significantly faster lookups than lists.

#**Data Types and Structures Assignment(Practical Questions & Answers)**

1.**Write a code to create a string with your name and print it.**

In [ ]:
name="Nilkanta chakraborty"
print("My name is " + name)

My name is Nilkanta chakraborty

2.**Write a code to find the length of the string "Hello World".**

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3.**Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4.**Write a code to convert the string "hello" to uppercase.**

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5.**Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
text = "i like apple"
new_text = text.replace("apple","orange")
print(new_text)

i like orange

6.**Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

7.**Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.**Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
num = ['a','b','c','d']
second_element = num[1]
print(second_element)

b

10.**Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
a = [10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

11.**Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.**Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
colors = ('Red', 'Green', 'Blue', 'Yellow')
second_last = colors[-2]
print(second_last)

Blue

13.**Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
my_tuple = (10, 20, 5, 15)
smallest_number = min(my_tuple)
print(smallest_number)

5

14.**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15.**Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits = ('apple', 'banana', 'kiwi')

if 'kiwi' in fruits:
    print("Yes, kiwi is in the tuple.")
else:
    print("No, kiwi is not in the tuple.")

Yes, kiwi is in the tuple.

16.**Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17.**Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
y_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.**Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.**Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.**Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.**Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
person = {"name": "Nilkanta","age": 25,"city": "Kolkata"}
print(person)

{'name': 'Nilkanta', 'age': 25, 'city': 'Kolkata'}

22.**Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.**Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24.**Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25.**Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Yes, 'city' is a key in the dictionary.")
else:
    print("No, 'city' is not a key in the dictionary.")

Yes, 'city' is a key in the dictionary.

26.**Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice','age': 30,'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27.**Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replace)**

In [7]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[27, 72, 76, 86, 92]

28.**Write a code to create a list with strings and print the element at the third index.**

In [11]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2])

cherry

29.**Write a code to combine two dictionaries into one and print the result.**

In [12]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.**Write a code to convert a list of strings into a set.**

In [13]:
string_list = ["apple", "banana", "apple", "orange", "banana"]
string_set = set(string_list)
print(string_set)

{'orange', 'banana', 'apple'}